body {
    background-color: #fdfdfd;
    background-image: url('/static/images/wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: #333;
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    padding-top: 90px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 0.75rem;
}

.sleek-navbar {
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.navbar-brand {
    font-size: 2.7rem;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    color: #000 !important;
    margin-right: 2rem;
}

.navbar-nav {
    margin-left: auto;
}

.nav-item {
    margin-left: 1rem;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 500;
    color: #333 !important;
    padding: 0.5rem 0.75rem;
    transition: all 0.2s ease-in-out;
}

.nav-link:hover {
    color: #a08c0c !important;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,...");
}

.btn.btn-primary.btn-lg {
    background-color: #000000;
    color: #ffff;
}


.container {
    padding-top: 4rem;
}

.product-img {
    height: 280px;
    object-fit: cover;
    width: 100%;
}

.jumbotron {
    margin-top: 80px;
}

.messages-container {
    position: relative;
    z-index: 1050;
    margin-top: 1rem;
}

/* Sticky Footer */
footer {
    background-color: #f8f9fa;
    color: #6c757d;
    text-align: center;
    padding: 1rem;
    margin-top: auto; /* Push footer to the bottom */
}

[data-aos] {
    opacity: 0;
    transition-property: opacity, transform;
}
